
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background-color: teal;
    height: 80px;
    /* color: white; */
    /* font-size: 1.2rem; */
  }
  .nav-ul {
    display: flex;
    align-items: center;
    gap: 20px;
    
  }

.nav-ul li {
  color: white;
  list-style-type: none;
}
  